body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:brown; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color: rgb(247, 216, 216);
}

.project_container{
    background-color: rgba(255, 255, 255,0.08);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    min-height: 200px;
    max-height: 400px;
}

p{
    color:rgb(245, 210, 210);
}

.date_input{
    padding: 10px;
    border-radius: 5px;
    background-color:chocolate;
    color: white;
    width: 80%;
    border-width: 1px;
    border-color:rgb(0, 175, 175);
}

.fetch_result{
    background-color:chocolate;
    color: white;
    margin-top: 10px;
    padding: 10px;
    width: 40%;
    border-width: 0px;
    border-radius: 5px;
}