body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    color: rgb(247, 216, 216);
}

.project_container{
    background-color: rgba(255, 255, 255, 0.08);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    min-height: 200px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

p{
    color: rgb(245, 210, 210);
}

.date_input{
    padding: 10px;
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    width: 80%;
    border: 1px solid rgb(0, 175, 175);
    outline: none;
}

.fetch_result{
    background-color: chocolate;
    color: white;
    margin-top: 10px;
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.fetch_result:hover{
    background-color: white;
    color: chocolate;
}
